h1 {
  background-color: rgba(10, 143, 171, 0.5);
  color: white;
  margin: 0.5em 0 0 0;
  font-family: fantasy;
  padding-top: 0.2em;
  padding-left: 0.5em;
  border-radius: 10em 1em 1em 0;
}
#profile {
  position: relative;
  float: right;
  width: 10em;
  height: 10em;
  top: -5em;
  opacity: 0.85;
  border-radius: 8em 5em;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: #c0a8f0;
}
img {
  width: 3em;
  height: 3em;
}
p, li {
  padding: 0.2em 0 0 0.2em;
  font-family: Times, serif;
  color: #2f6d7a;
}
body {
  margin-top: 0;
  background-color: #f3fbfd;
}
div {
  background-color: #fbecee;
  border-radius: 1%;
}

div.header {
  border: 1px solid #b5dde5;
  background-color: #b5dde5;
  border-radius: 1em 1em 1em 0;
}
div.circle1 {
  position: relative;
  left: 5em;
  top: 6em;
  float: right;
  border-radius: 50%;
  background-color: #ffa500;
  width: 4em;
  height: 4em;
  border: 0.1em solid #ffa500;
  opacity: 0.45;
}
div.circle2 {
  position: relative;
  float: right;
  left: 10em;
  top: 11em;
  border-radius: 50%;
  background-color: #ffa500;
  width: 2em;
  height: 2em;
  border: 0.1em solid #ffa500;
  opacity: 0.4;
}
#welcome {
  font-size: 3em;
  color: #2f6d7a;
}
.footer{
  text-align: center

}
.code{
  padding-left: 25em;
  max-width: 20em;
  overflow: scroll;
}

/*li {
  color: #2f6d7a;
  list-style: none;
  font-size: 2em;
  font-family: Vivaldi, cursive;
}*/
