 #face{
   width: 10em;
   height: 10em;
   border-radius: 10%;
   margin: 0.3em 32em;
 }

 #phone {
   float: right;
   color: blue;
 }
 li {
   width: 10em;
   list-style: none;
   display: inline-block;
 }
 h2 {
   text-align: center;
   background-color: #fae4ff;
   margin: 1em auto;
   padding: 1em;
   border-radius: 50%;
   width: 10em;
 }
 body {
   background-color: #eefdcd;
 }
 a:link {
   text-decoration: none;
 }
 a img {
   width: 2em;
   height: 2em;
 }
 p.content {
   color: green;
   font-style: italic;
   font-family: Vivaldi, cursive;
 }
 p {
   text-align: center;
 }
