h2{
  font-family: Arial, sans-serif;
}

img{
  border-radius: 10%;
  width: 150px;
  height: 154px;
}

p{
  font-family: cursive;
}

a:link {
  text-decoration: none;
}



#image {
  border: 0.16em inset blue;
  width: 9.3em;
  height: 9.7em;
  border-radius: 10%;
}
